nav{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: -webkit-fill-available;
  }
  .nav-bar ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 9cm;
  }
  a{
    font-size: x-large;
  }

  a.active{
    font-weight: bold;
  }
  
  .bars{
    display: none;
    border: none;
    font-size: 23px;
    cursor: pointer;
    margin-left: 95%;
  }
  
  @media(max-width: 400px){
    .bars{
      display: inline;
    }
    nav{
      display: flex;
      flex-direction: column;
      height: auto;
    }
    .nav-bar ul{
      display: flex;
      flex-direction: column;
      position: relative;
      top: -500px;
      height: 0;
      transition: .3s;
    }
    .nav-bar ul.show{
      top: 0px;
      height: 210px;
      transition: .3s;
    }
    .nav-bar ul.show li{
      width: 90%;
      text-align: center;
      border-top: 2px solid rgb(113, 103, 103);
      padding: 5px 0px;
    }
  }